<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Telegram suite" parallel="tests">
    <parameter name="device" value="PIXEL_CLASSIC"/>
    <parameter name="app" value="installed"/>
    <test name="Вход в приложение без регистрации" verbose="1">
        <classes>
            <class name="tests.TelegramSendMessageTest"/>
        </classes>
    </test>
</suite>